<div class="body_text" style="margin-bottom:5px; height:75px;" id="text_dict">
    <h5><i>ALPHA v.0.1</i></h5></div>
<img id="main_logo" src="images/hiku-big.png" style="width: 256px;">
<div class="body_text" id="text_dict">/hî-koo/</div>
<div class="body_text" id="text_desc">"An online, forum-based, MMORPG where you embark on an adventure, exploring a vast world full of opportunities. Improve your stats by battling heinous fiends and taking various challenges along the way. Meet friends or foes within the game world by setting up trade deals and battles at the online forum. Possibilities in the World of Hiku is only limited by your imagination. Let's go adventuring!"</div>

<div class="body_text">
<br>
<h3>Roadmap:</h3>
<ul>
    <li>Beta v.1.0</li>
    <ul>
        <li>Battle Mechanics</li>
        <li>Explore Mechanics</li>
    </ul>
    <li>Beta v.2.0</li>
    <ul>
        <li>Chatting</li>
        <li>Friend system</li>
    </ul>
</ul>
</div>