<!DOCTYPE html>
<html>
<head>
  <title> About </title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="midbox">

    <div id="leftbox">
      {{> intro }}
      <a href="/" id="back_btn">< Back</a>
    </div>

    <div id="rightbox" style="color:white">
      <h5>ABOUT</h5>
      <div>Created by Joric Batac, RJ Cosico, and Marc Llorca for CCAPDEV S11</div>
      <p>
          NPM Modules
          <ul>
            <li>express</li>
            <li>dotenv</li>
            <li>hbs</li>
            <li>body-parser</li>
            <li>mongodb</li>
            <li>mongoose</li>
            <li>express-session</li>
            <li>bcrypt</li>
            <li>express-validator</li>
            <li>connect-mongo</li>
            <li>moment</li>
          </ul>
      </p>
    </div>
  </div>

</body>
</html>
