<!DOCTYPE html>
<html>
<head>
  <title>Battle</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/battle.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var username = {{{json username}}};
      $.get('/getActiveTask', {username: username}, function (result) {
        if(result){
          $('#battlelisting').css('display', 'none');
          $('.challengesection').css('display', 'none');
          $('.onActiveTask').css('display', 'flex');
        }
      });
      $('#challenge').on('click', function() {
        var title = prompt("Please enter challenge title", "");

        if (title == null || title == "") {
          title = "No Title";
        }
        var multiplier = 1;//$(this).parent('div').parent('div').siblings('div').children('slider').val();
        var opponent = {{{json username}}};
        $.post('/postChallenge', {title: title, multiplier: multiplier, opponent: opponent}, function(result) {
        });
        alert('Posted in Forum!');
      });

      $('#battlelisting').on('click', '#teambattle',function() {
        var title = prompt("Please enter challenge title", "");

        if (title == null || title == "") {
          title = "No Title";
        }
        var opponent = $(this).siblings('#bossName').text();
        var loot = $(this).siblings('#loot').text();
        var level = $(this).siblings('#level').text();
        $.post('/postBattle', {title: title, opponent: opponent, level: level, loot: loot}, function(result) {
        });
        $.post('/postTask', {taskName: opponent, expGain: level}, function(result) {
          });
        alert('Posted in Forum!');
      });
      $('#battlelisting').on('click', '#solobattle', function() {
          var level = $(this).siblings('#level').text();
          var opponent = $(this).siblings('#bossName').text();
          console.log(location + ' ' + level);
          $.post('/postTask', {taskName: opponent, expGain: level}, function(result) {
          });
          alert('Task added!');
        });

    });
  </script>
</head>
<body>

  <!-- Navigation Bar-->
  {{> header username=username}}

  <div id="battlerefresh">
    <p id="battletext">BATTLE</p>
    
  </div>

  <!-- Challenge -->
  <!--<form method="post">-->
    <div class="challengesection">
      <div class="battleheader">
        Test your Might
      </div>
      <hr>
      <div class="battlebody">
        <div class="challengecontent">
          <div class="challengedesc">
            Test your might by letting others give you a fight.
          </div>

          <div class="battleopt">
            <div class="buttonopt">
              <input id="challenge" name="challenge" type="submit" class="challengebutton" value="CHALLENGE" href="/forum/battle/{{username}}">
            </div>
          </div>

        </div>
      </div>
    </div>
  <!--</form>-->

  <div id="battlelisting">
    {{#each battles}}
      {{> battlecard}}
    {{/each}}
  </div>

  <div class="onActiveTask" style="display:none">
    <div class="battleheader">
        You are already on an active task!
      </div>
  </div>
</body>
</html>
