<!DOCTYPE html>
<html>
<head>
  <title>Error Page</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/error.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
  <div class="battlesection">
    <div class="battlebody">
        <div class="battleheader">
          404 Page Not Found
        </div>
     <hr>
        <div class="battledesc">
          Error Message Here!
        </div>
        <input type="button" class="battlebutton" onClick="window.history.back();" id="solobattle" value="Go Back">
    </div>


  </div>

</body>
</html>
