<!DOCTYPE html>
<html>
<head>
  <title>Explore</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/explore.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var username = {{{json username}}};
      $.get('/getActiveTask', {username: username}, function (result) {
        if(result){
          $('#explorelisting').css('display', 'none');
        }
      });
      $('#explorelisting').on('click', '#teamexplore', function() {
        var title = prompt("Please enter challenge title", "");
        if (title == null || title == "") {
          title = "No Title";
        }
        var level = $(this).siblings('#loc_level').text();

        var location =  $(this).siblings('#loc_title').text();
        var loot = $(this).siblings('#loc_loot').text();
        console.log(loot + ' ' + location + ' ' + level);
        $.post('/postExplore', {title: title, location: location, loot: loot, level: level}, function(result) {
        });
        $.post('/postTask', {taskName: location, expGain: level}, function(result) {
        });
        alert('Posted in Forum!');
        });
        $('#explorelisting').on('click', '#soloexplore', function() {
          var level = $(this).siblings('#loc_level').text();
          var location =  $(this).siblings('#loc_title').text();
          console.log(location + ' ' + level);
          $.post('/postTask', {taskName: location, expGain: level}, function(result) {
          });
          alert('Task added!');
        });
      });
  </script>
</head>
<body>

 <!-- Navigation Bar-->
  {{> header username=username}}

  <div id="explorerefresh">
    <p id="exploretext">EXPLORE</p>
    
  </div>

  <div id="explorelisting">
    {{#each location}}
        {{> explore_loc}}
    {{/each}}
  </div>

</body>
</html>
