<!DOCTYPE html>
<html>
<head>
  <title> Index </title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="midbox">

    <div id="leftbox">
      {{> intro }}
    </div>

    <div id="rightbox">
      <button onclick="window.location.href='/login';"class="home_btn">Login</button><br>
      <button onclick="window.location.href='/register';"class="home_btn">Register</button>
    </div>
  </div>






</body>
</html>
